<div id="header">
    <h1>로고</h1>
    <ul>
        <li>메뉴1</li>
        <li>메뉴2</li>
        <li>메뉴3</li>
    </ul>


    <ul>
        <% if(login) {%>
            <li><a href="/mypage"><%- login.memberid %></a></li>
            <li><a href="/logout">로그아웃</a></li>
        <% } else {%>
            <li><a href="/login">로그인</a></li>
            <li><a href="/join">회원가입</a></li>
        <% } %>
    </ul>

    <!-- 서버에서 넘겨받은 로그인 정보에 따라
         로그인이 되있다면 ->  OOO님  로그아웃
         로그인이 안되있다면 ->  로그인   회원가입
    -->
</div>