<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 페이지(자바스크립트 정규표현식은 본인이 직접 반영)</title>
</head>
<body>
    <form id="join_form" action="/joindb" method="post">
        <input type="text" name="memberid">
        <input type="password" name="memberpass">
        <button type="submit">회원가입</button>
        <a href="/">취소</a> <!-- 취소 눌렀을 때 이동하는 페이지경로는 알아서 구성-->
    </form>
</body>
</html>